* {
  margin: 0;
  /* background-color: black; */
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  scroll-behavior: smooth;
  font-size: 10px;
}

:root {
  --orange: #FF4D45;
  --blue: #2E4786;
}

.logo {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 12px;
  left: 3vw;

}

.wrapper {
  overflow-x: hidden;
}


.doob {
  display: flex;
  font-size: 2rem;
  font-weight: bolder;
  color: var(--orange);
  cursor: pointer;
}
.doob:hover{
  color: white;
}
.nav{
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.underline {
  background-color: white;
  width: 60%;
  height: 4px;
}


.underline-c {
  display: flex;
  justify-content: center;

}

.container {
  display: flex;
  flex-direction: column;
  width: 60%;
  /* height: 1080px; */
  background-color: fff;
  margin-left: 20%;
  margin-right: 20%;
  flex-wrap: wrap;
  /* background-image: url(./12_col_grid.png);
  width: 1100px;
  height: 4400px;
  z-index: -1; */
}

button {
  cursor: pointer;
}

header {
  width: 100%;
  z-index: 50;
  position: sticky;
  top: 0%;
}
.toggle{
  display: none;
}


.nav {
  flex-direction: row;
  background-color: var(--blue);
  width: 100%;
  height: 80px;
  display: flex;
  /* margin-top: 3%; */

  z-index: 50;
  justify-content:space-around

}


.nav a {

  float: left;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bolder;
  color: white;
  
}
.nav a:hover{
  color: var(--orange);
}

.nav-right {
  
  float: right
}

.nav-right button {
  margin-top: 10px;
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 15px;
  /* height: 35px; */
  font-size: 1.5rem;
  padding: 2px;
  padding-top: 3px;
  font-weight: bolder;
}

.nav-right button a {
  padding: 0;
  margin: 0;
  color: #FF4D45;
  height: 12px;

}
.nav-right button a:hover{
  color: var(--blue);
}

.nav-right button i {
  color: red;
}
.nav-right button i:hover{
  color: var(--blue);
}


.first {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: 20%;
}

.first-img {
  height: 450px;
  margin-top: -10%;
  right: -15%;
  position: absolute;
  width: 350px;
}

.first-img img {
  width: 100%;
  height: 100%;
}

.bg-shape-3 {
  position: absolute;
  right: -33%;
  top: -150%;
  z-index: -1;
}

.aa {
  width: 60%;
  /* height: 200px; */
  /* background-color: blue; */

}

.aa-1 {
  font-size: 4rem;
  color: var(--blue);
}

.aa-1 h1 {
  font-size: 5rem;
}

.aa-2 {
  font-size: 2rem;
  color: grey;
  margin-top: 30px;
  z-index: 1;
}

.aa-3 {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.aa-3-1 button {
  font-size: 1.7rem;
  height: 35px;
  width: 140px;
  color: white;
  padding: 2px;
  background-color: var(--orange);
  border: 1px solid var(--orange);
  border-radius: 20px;
}
.aa-3-1 button:hover{
  color: #FF4D45;
  background-color:white;
  border: white;
  
}
.aa-3-2 button {
  font-size: 1.7rem;
  height: 35px;
  width: 120px;
  color: white;
  padding: 2px;
  background-color: var(--blue);
  border: 1px solid white;
  border-radius: 20px;
}
.aa-3-2 button:hover{
  color: #FF4D45;
  background-color: white;
  border: white;
  
}



.aa-3-2 {
  margin-left: 20px;
  color: var(--blue);
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.second {
  width: 100%;
  position: relative;
}

.bg-shape-2 {
  left: -33%;
  position: absolute;
  top: 40%;
  /* margin-left: -76px; */

}

.bb {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20%;
  justify-content: space-between;

}

.bb-1 {
  width: 30%;
  /* height: 200px; */
  /* background-color: blue; */

}

.bb-1-1 {
  font-size: 3rem;
  color: var(--blue);

}

.bb-1-1 h1 {
  font-size: 3rem;
}

.bb-1-2 button {
  font-size: 1.5rem;
  margin-top: 30px;
  height: 35px;
  width: 120px;
  color: white;
  padding: 2px;
  background-color: var(--orange);
  border: 1px solid var(--orange);
  border-radius: 20px;


}
.bb-1-2 button:hover{
  color: var(--orange);
  background-color: white;
  border:white;
}

.bb-2 {
  width: 30%;
  height: auto;
  /* background-color: yellow; */
  border: 1px solid white;
  box-shadow: 0px 0px 10px 5px rgb(216, 212, 212);
  display: flex;
  flex-direction: column;
  padding: 28px;
  /* max-height: 350px; */
}

.bb-2-1 i {
  font-size: 4rem;
}

.bb-2-2 h2{
  font-size: 2.1rem;
  color: var(--blue);
  margin-top: 20%;
}

.bb-2-3 {
  font-size: 1.2rem;
  margin-top: 10%;
  color: grey;
}

.bb-3 {
  width: 30%;
  height: auto;
  /* max-height: 350px; */
  box-shadow: 0px 0px 10px 5px rgb(216, 212, 212);
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  padding: 22px;

}

.bb-3-1 i {
  font-size: 3.5rem;
}

.bb-3-2 h2 {
  font-size: 2.1rem;
  color: var(--blue);
  margin-top: 20%;
}

.bb-3-3 {
  font-size: 1.3rem;
  margin-top: 15%;
  color: grey;
}

.three {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 18%;
}

.three img {
  width: 60%;
  margin-left: -15%;
  height: 55%;
  z-index: 1;
}

.cc {
  width: 45%;
  /* height: 100px; */
  /* background-color: blue; */

  float: right;
}

.cc h1 {
  font-size: 4.5rem;
}

.cc h4 {
  font-size: 3rem;
}



.cc-1 {
  color: var(--orange);
  font-size: 3rem;
}

.cc-2 h1{
  margin-top: 5%;
  font-size: 3rem;
  color: var(--blue);

}

.cc-3 {
  font-size: 1.8rem;
  color: grey;
  margin-top: 8%;
}

.cc-3 p {
  font-size: 1.8rem;
  color: grey;
  margin-top: 8%;
}

.cc-4 {
  margin-top: 5%;
}

.cc-4 i {
  font-size: 3rem;

}
i:hover{
  color: var(--orange);

}


.right {
  color: var(--blue);
}

.left {
  color: grey;
  margin-right: 25px;
}

.four {
  width: 100%;
  position: relative;
}

.dd {
  width: 100%;
  height: 100px;
  /* display: flex; */
  position: relative;

  /* border-color: blanchedalmond; */


}

.dd-1 {
  margin-top: 10%;
  font-size: 3rem;
  color: var(--blue);

}

.dd-1 h1 {
  font-size: 4rem;
}

.dd-4 i {
  font-size: 3rem;

}

.dd-4 {
  position: absolute;
  bottom: 0;
  right: 0;

}

.flexbox-container {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
}

.child {
  height: 200px;
  width: 32%;
  margin: 10px;
  background-color: #aeabab;

}

.child img {
  width: 100%;
  height: 100%;
}

.dd-text {
  margin-top: 30px;
  color: var(--orange);
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  cursor: pointer;
}

.ee {
  position: relative;
}

.ee-1 {
  margin-top: 10%;
  color: var(--orange);
  font-size: 2rem;
  font-weight: bolder;
}

.ee-2 h1{
  margin-top: 20px;
  font-size: 4rem;
  color: var(--blue);

}

.ee-3 i {
  font-size: 3rem;

}

.ee-3 {
  margin-top: 40px;
  float: right;

}

.ee-4 {
  margin-top: 7%;
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  gap:10px;
}
.ee-4>div {
  height: max-content;
  width: 250px;
  /* background-color: #aeabab; */
  justify-content: space-around;
  padding: 20px;

}

.ee-4-1 {
  background-color: var(--orange);
  color: white;
}

.ee-4-1-1 h1{
  font-size: 2.8rem;
  margin-top: 5%;
}

.ee-4-1-2 {
  margin-top: 8%;

}

.ee-4-1-3 {
  margin-top: 12%;
  font-size: 1.8rem;
}

.ee-4-1-4 {
  margin-top: 10%;
  float: right;
  font-size: 3rem;
}
.ee-4-1-4 i:hover{
  color: var(--blue);
}
.righttt {
  /* background-color: bisque; */
  color: white;
}

.ee-4-2 {
  /* border: 2px solid grey; */
  box-shadow: 0px 0px 10px 5px rgb(216, 212, 212);
}

.ee-4-2-1 h1{
  font-size: 2.8rem;
  margin-top: 5%;
  color: var(--blue);
}

.ee-4-2-2 {
  margin-top: 8%;
  color: grey;

}

.ee-4-2-3 {
  margin-top: 12%;
  font-size: 1.8rem;
  color: var(--blue);
}

.ee-4-2-4 {
  margin-top: 10%;
  float: right;
  font-size: 3rem;
}
.ee-4-2-4 i:hover{
  color: var(--blue);
}

.righ {
  color: var(--orange);
}

.ee-4-3 {
  box-shadow: 0px 0px 10px 5px rgb(216, 212, 212);
}

.bg-shape {
  position: absolute;
  right: -37%;
  z-index: -1;
  top: -10%;
}

.five {
  width: 100%;
}

.ff-1 {
  margin-top: 15%;
  color: var(--orange);
  font-size: 2rem;
  font-weight: bold;
}

.ff-2 h1{
  margin-top: 20px;
  font-size: 3rem;
  color: var(--blue);

}

.ff-3 {
  width: 100%;
  margin-top: 5%;

}

.fff-3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.fff-3 input {

  width: 40%;
  height: 40px;

  background-color: rgb(200, 203, 204);
  border: 1px solid rgb(200, 203, 204);
  /* font-size: larger; */


}



input[type="text"]::-webkit-input-placeholder {
  color: var(--blue);
  font-size: 1rem;
  font-weight: bolder;
}

.ff-3-3 input {
  width: 100%;
  height: 150px;
  margin-top: 4%;
  background-color: rgb(200, 203, 204);
  border: 1px solid rgb(200, 203, 204);
  text-align: start;

}

.ff-4 {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.ff-4 button {
  font-size: 1.8rem;
  margin-top: 5%;
  height: 35px;
  width: 150px;
  color: white;
  padding: 2px;
  background-color: var(--orange);
  border: 1px solid var(--orange);
  border-radius: 20px;
  align-items: center;

}
.ff-4 button:hover{
  color: #FF4D45;
  background-color: white;
  border: white;
}

footer {
  width: 100%;
}

.footer {
  width: 100%;

}


.gg {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 320px;
  width: 100%;
  background-color: var(--blue);
  margin-top: 4%;


}

.gg-1 h1 {
  color: white;
  font-size: 20px;

}

.gg-2 h1 {
  margin-top: 10px;
  color: var(--orange);
  font-size: 2.5rem;
}

.gg-3 {
  margin-top: 20px;
  z-index: 123;
}

.gg-3-ham {
  display: none;
}

.gg-3 a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  margin: 10px;
}

.gg-3 a:hover {
  cursor: pointer;
  color: white;

}

.gg-4 {
  margin-top: 20px;
  color: white;
}

.gg-5 {
  margin-top: 20px;
  color: white;
}

.gg-5 i {
  margin-right: 30px;
  margin-left: 30px;
  font-size: 3.5rem;


}


@media only screen and (max-width: 1000px) {
  * {
      font-size: 7px;
  }


}

@media only screen and (max-width: 700px) {
 
  
/* .first{ 
  /* background-color:#ffbca1; */
  /* background-image:  url(../public/3.png);
} */ 
.nav-right{
  
  display: none;
}

  .aa {
      width: 70%;
  }
  .aa-1 h1{
    font-size: 5.9rem;
    font-weight: 1000;
    color: var(--blue);
  }
  .bb-2{
    background-color: var(--orange);
    color: white;
    width: 70%;
    height: auto;
  }
  .bg-shape-2{
    z-index: -1;
  }
  .bb-1-1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin-top: 20px;
    /* background-color: blue; */
  }
  .bb-1-1 h1{
    font-size: 5rem;
  }
  .bb-1-2 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
  }
  .bb-2-2 h2{
    color: white;
    /* font-size: rem; */
  }
  .bb-2-3{
    color: white;
  }

  /* .picture{
    display: none;
  } */
  .first-img {
    height: 350px;
    margin-top: 5%;
    right: -35%;
    position: absolute;
    width: 380px;
    z-index: -100;
    display: none;
  }
  .first-img img{
    display: none;
  }
  .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: linear-gradient(rgba(227, 223, 223, 0.3), rgba(0, 0, 0, 0)) ;
    
    z-index: -10;
  }
  .bg-shape-3 {
    position: absolute;
    right: -10%;
    top: 0%;
    /* z-index: -110; */
    /* display: none; */
  }
  .three img{
    width: 55%;
    height: 70%;
  }
  
  .aa-3-1 button{
    /* width: ; */
    font-size: large;
    /* height: auto; */
  }
  .aa-3-2 button{
    /* width: 100px; */
    font-size: large;
    /* height: auto; */
  }
  .bb-1-2 button {
      margin-top: 0;
      /* width: 100px; */
      font-size: large;
      /* height: auto; */
      
      /* margin-left: 35px; */
  }
  .dd-text{
    font-size: 3rem;
  }
.first{
  padding-top: 50px;
  padding-bottom:50px;
  margin-top: 5%;
}
  .bb-1-2 {
      display: flex;
      /* justify-content: center; */
  }

  .bb-1-1 {
      display: flex;
      /* justify-content: center; */
  }

  .bb-1 {
      width: 70%;
      display: flex;
      flex-direction: column;
      gap: 30px;
  }
  .bb{
      margin-top: 15%;
  }
  .ee-1{
      margin-left: 14vw;
      font-size: 4.5rem;
  }
  .ee-2 h1{
      margin-left: 14vw;
      font-size: 3rem;
  }
  .ee-3{
      margin-right: 20px;
  }
  .ee-4{
      justify-content: center;
      gap:40px;
      flex-wrap: wrap;
  }
  .ee-4>div{
      height:auto;
      width: 70%;
  }
  .ee-4-2-1 h2,.ee-4-1-1 h2{
      font-size: 3.5rem;
  }
  .ee-4-2-2,.ee-4-1-2{
      font-size: 2rem;
  }
  .bb-2{
      width:70%;
      height:auto;
  }
  .bb-2-3{
      font-size: 2rem;
  }
  .bb-3-3{
      font-size: 2rem;
  }
  .bb-3-2 h2{
      font-size: 4rem;
  }
  .bb-2-2 h2{
      font-size: 3.8rem;
  }
  .bb-2-1 i{
      font-size: 4rem;
  }
  .bb-3-1 i{
      font-size: 4rem;
  }
  .bb-3{
      width:70%;
      height:auto;
  }
  .first {
      justify-content: center;
  }
  .three{
      justify-content: center;
  }
  .cc{
      width:70%;
  }
  .dd-1 h1{
      margin-left: 14vw;
  }
  .flexbox-container{
      margin-top: 2%;
  }
  .child{
      width:25vw;
      height:20vh;
  }
  .four{
      margin-top: 30px;
  }
  .dd-4{
      right:20px;
  }
  .ff-3{
          display: flex;
          flex-direction: column;
          align-items: center;
      
  }
  .fff-3{
      width:70%;
  }
  .ff-3-3{
      width:70%;
  }
  .ff-2 h1{
      font-size: 3rem;
      text-align: center;
  }
  .ff-1{
      text-align: center;
      font-size: 3.5rem;
  }
  .ff-3-3 input{
      height:40px;
  }
  .ff-4 button{
      width:120px;
      height: 27px;
  }
  .gg-1{
      font-size: 3.5rem;
  }
  .gg-2 h1{
      font-size: 2.9rem;
  }
  .fff-3 input{
      height:20px;
  }
  .logo {
      left: 5vw;
  }


  .bb {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 50px;
  }

  .links {
    display: none;

  }
  .active-header a{
    font-size: 20px;
  }
  .toggle {
    display: block;
    margin-top: 20px ;
    font-size: 30px;
    margin-right: 20px;
    color: white;
  }
  .toogle i{
    color: white;

  }
  .nav a:hover{
    color: var(--orange);
  }
  
  .active-header{
    display: flex;
      flex-direction: column;
      width: 100%;

  }
  .doob{
    font-size: 30px;
  }
  .doob:hover{
    color: white;

  }

  .nav {
      justify-content: flex-end;
      flex-wrap: wrap;
      height: max-content;
      padding-bottom: 20px;
  }
  

  * {
      font-size: 7px;
  }

  /* .picture {
      display: none;
  } */

  .gg-3 a{
    font-size: 1.9rem;

      /* display: none; */
      /* background-color: red; */
  }

  .container {
      display: flex;
      flex-direction: column;
      width: 100%;
      /* height: 1080px; */
      background-color: fff;
      margin-left: 0;
      margin-right: 0;
      flex-wrap: wrap;
      /* background-image: url(./12_col_grid.png);
      width: 1100px;
      height: 4400px;
      z-index: -1; */
  }

  .gg-3-ham {
      color: red;
      display: flex;
  }
  .gg-4{
      font-size: 1.5rem;
  }
  
  
}




/* About us css */
.responsive-cell-block {
  min-height: 75px;
}

* {
  font-family: Nunito, sans-serif;
}

a {
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
  color: inherit;
}

.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  line-height: 25px;
}

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  z-index: -1;
}

.responsive-container-block.container {
  max-width: 1320px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.responsive-container-block.big-container {
  justify-content: center;
  padding-top: 0px;
  padding-right: 50px;
  padding-bottom: 0px;
  padding-left: 50px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.text-blk.section-text {
  color: rgb(147, 147, 147);
  max-width: 750px;
  margin-top: 25px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-size: 18px;
  line-height: 27px;
}

.text-blk.section-head {
  max-width: 750px;
  font-size: 45px;
  line-height: 50px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6.content-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-6.wk-ipadp-12.img-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-6.wk-ipadp-12.content-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1024px) {
  .responsive-container-block {
    flex-direction: column-reverse;
  }

  .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-6.wk-ipadp-12.content-one {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-6.wk-ipadp-12.img-one {
    display: flex;
    max-height: 300px;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .bg-image {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(-90deg) scaleX(1) scaleY(1) scaleZ(1);
    width: 100%;
  }

  .responsive-container-block.container {
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .text-blk.section-text {
    font-size: 18px;
  }

  .text-blk.section-head {
    font-size: 40px;
    line-height: 45px;
  }
}

@media (max-width: 500px) {
  .text-blk.section-head {
    font-size: 30px;
    line-height: 35px;
  }

  .responsive-container-block.big-container {
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
  }

  .text-blk.section-text {
    font-size: 16px;
    line-height: 24px;
  }

  .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-6.wk-ipadp-12.img-one {
    max-height: 250px;
  }

  .responsive-container-block.container {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .responsive-container-block.big-container {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
  }

  .responsive-container-block.container {
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}



/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.login-form{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: +1;
}
.abbb p{
  font-size: 20px;
}
.login-container{
  
  width: 40%;
  background: #fff;
  border-radius: 7px;
  /* box-shadow: 0 5px 10px rgba(0,0,0,0.3); */
  height: 90%;
}
.registration{
  width: 40%;
  z-index: +1;
}
.registration-containter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .registration{
  display: none;
}
#check:checked ~ .registration{
  display: block;
}
#check:checked ~ .login{
  display: none;
}
#check{
  display: none;
}
.container .form{
  padding: 2rem;
}
.form header{
  font-size: 5rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
  color: white;
  border-radius: 7px;
  background: linear-gradient(var(--blue),var(--orange));
  margin-top: 20px;
}

 .form input{
   height: 60px;
   width: 100%;
   padding: 0 15px;
   font-size: 17px;
   margin-bottom: 1.3rem;
   border: 1px solid #ddd;
   border-radius: 6px;
   outline: none;
 }
 .form input:focus{
   box-shadow: 0 1px 0 rgba(0,0,0,0.2);
 }
.form a{
  font-size: 16px;
  color: var(--orange);
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}
.form input.button{
  color: #fff;
  background: var(--orange);
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.form input.button:hover{
  background:var(--blue);
}
.signup{
  font-size: 17px;
  text-align: center;
}
.signup label{
  color:var(--orange);
  cursor: pointer;
}
.signup label:hover{
  text-decoration: underline;
}

/* About us  */

* {
  font-family: Nunito, sans-serif;
}

.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.responsive-cell-block {
  min-height: 75px;
}

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.responsive-container-block.bigContainer {
  padding-top: 0px;
  padding-right: 50px;
  padding-bottom: 0px;
  padding-left: 50px;
  margin-top: 50px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
  z-index: -1;
}

.responsive-container-block.Container {
  max-width: 1320px;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.mainImg {
  width: 100%;
  /* height: 800px; */
  object-fit: cover;
}

.blueDots {
  position: absolute;
  top: 150px;
  right: 15%;
  z-index: -1;
  left: auto;
  width: 80%;
  height: 500px;
  object-fit: cover;
}

.imgContainer {
  position: relative;
  width: 48%;
}

.responsive-container-block.textSide {
  width: 48%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  z-index: 100;
}

.text-blk.heading {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.text-blk.subHeading {
  font-size: 16px;
  line-height: 26px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  color: grey;
}
.text-blk.subHeading h1{
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.cardImg {
  width: 31px;
  height: 31px;
}

.cardImgContainer {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(229, 229, 229);
  border-right-color: rgb(229, 229, 229);
  border-bottom-color: rgb(229, 229, 229);
  border-left-color: rgb(229, 229, 229);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 0px;
}

.text-blk.cardHeading {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.text-blk.cardSubHeading {
  font-size: medium;
  color: rgb(153, 153, 153);
  line-height: 22px;
}

.explore {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: white;
  background-color: var(--orange);
  box-shadow: rgba(244, 152, 146, 0.25) 0px 10px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: initial;
  border-right-style: initial;
  border-bottom-style: initial;
  border-left-style: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  padding-top: 17px;
  padding-right: 40px;
  padding-bottom: 17px;
  padding-left: 40px;
}

.explore:hover {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(244, 182, 176);
}

#ixvck {
  margin-top: 60px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.redDots {
  position: absolute;
  bottom: -350px;
  right: -100px;
  height: 500px;
  width: 400px;
  object-fit: cover;
  top: auto;
}

@media (max-width: 1024px) {
  .responsive-container-block.Container {
    position: relative;
    align-items: flex-start;
    justify-content: center;
  }

  .mainImg {
    bottom: 0px;
  }

  .imgContainer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: auto;
    width: 60%;
  }

  .responsive-container-block.textSide {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    width: 70%;
  }

  .responsive-container-block.Container {
    flex-direction: column-reverse;
  }

  .imgContainer {
    position: relative;
    width: auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }

  .responsive-container-block.textSide {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    width: 100%;
  }

  .responsive-container-block.Container {
    flex-direction: row-reverse;
  }

  .responsive-container-block.Container {
    flex-direction: column-reverse;
  }
}

@media (max-width: 768px) {
  .responsive-container-block.textSide {
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .text-blk.subHeading {
    text-align: center;
    font-size: 17px;
    max-width: 520px;
  }

  .text-blk.heading {
    text-align: center;
  }

  .imgContainer {
    opacity: 0.8;
  }

  .imgContainer {
    height: 500px;
  }

  .imgContainer {
    width: 30px;
  }

  .responsive-container-block.Container {
    flex-direction: column-reverse;
  }

  .responsive-container-block.Container {
    flex-wrap: nowrap;
  }

  .responsive-container-block.textSide {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
  }

  .imgContainer {
    width: 90%;
  }

  .imgContainer {
    height: 450px;
    margin-top: 5px;
    margin-right: 33.9062px;
    margin-bottom: 0px;
    margin-left: 33.9062px;
  }

  .redDots {
    display: none;
  }

  .explore {
    font-size: 16px;
    line-height: 14px;
  }
}

@media (max-width: 500px) {
  .imgContainer {
    position: static;
    height: 450px;
  }

  .mainImg {
    height: 100%;
  }

  .blueDots {
    width: 100%;
    left: 0px;
    top: 0px;
    bottom: auto;
    right: auto;
  }

  .imgContainer {
    width: 100%;
  }

  .responsive-container-block.textSide {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .responsive-container-block.Container {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    overflow-x: visible;
    overflow-y: visible;
  }

  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    z-index: -1;
    padding: 0 30px 0 30px;
  }

  .redDots {
    display: none;
  }

  .text-blk.subHeading {
    font-size: 16px;
    line-height: 23px;
  }

  .text-blk.heading {
    font-size: 28px;
    line-height: 28px;
  }

  .responsive-container-block.textSide {
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }

  .imgContainer {
    margin-top: 5px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 100%;
    position: relative;
  }

  .explore {
    padding-top: 17px;
    padding-right: 0px;
    padding-bottom: 17px;
    padding-left: 0px;
    width: 100%;
  }

  #ixvck {
    width: 90%;
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 15px;
  }

  .blueDots {
    bottom: 0px;
    width: 100%;
    height: 80%;
    top: 10%;
  }

  .text-blk.cardHeading {
    font-size: 16px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 8px;
    margin-left: 0px;
    line-height: 25px;
  }

  .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
  }
}

/* about us .responsive */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}


/* Blog page css, */
article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}

article a:focus {
  outline: 1px dotted #28666e;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


/************************ 
Generic layout (demo looks)
**************************/


.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }
  .article-body p {
    display: none;
  }
}

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }
  .article-body {
    padding-left: 0;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

/* contactus css starts */

.footer_get_touch_outer {
  margin-top: 80px;
}
.container-contactus{
  width: 95%;
  max-width: 1140px;
  margin: auto;
}
.grid-70-30 {
  display: grid;
  grid-template-columns: 70% 30%;
}
.get_form_inner {
  display: block;
  padding: 50px 40px;
  background: #fff;
  box-shadow: -4px -2px 20px -7px #cfd5df;
}
input[type="text"], input[type="text"], input[type="email"], input[type="tel"] {
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  color: #333;
  height: 42px;
  padding: 0 0 0 20px;
  width: 100%;
  outline: 0;
}
.grid-50-50 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.grid-full {
  margin: 20px 0;
}
textarea {
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  color: #333;
  padding: 12px 0 0 20px;
  width: 100%;
  outline: 0;
  margin-bottom: 20px;
}
.get_form_inner_text h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--blue);
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 40px;
  text-align: center;
}
input[type="submit"] {
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid white;
  border-radius: 20px;
  font-weight: 500;
  padding: 10px 20px;
  outline: 0;
  cursor: pointer;
  color: white;
  background-color: var(--blue);

  transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -ms-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
input[type="submit"]:hover {
  background-color: var(--orange);
  border-color: var(--orange);
  color: #fff;
}
.get_say_form {
  display: inline-block;
  padding: 45px 0 25px 30px;
  background: var(--blue);
  position: relative;
}
.get_say_form h5 {
  color: #fff;
  font-size: 26px;
  margin: 0 0 40px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.get_say_social-icn {
  display: flex;
  position: absolute;
  bottom: 40px;
}
.get_say_social-icn a {
  font-size: 22px;
  color: #fff;
  padding: 0 20px 0 0;
}
.get_say_info_sec i {
  color: #fff;
  font-size: 32px;
}
.get_say_info_sec > li {
  display: grid;
  grid-template-columns: 40px auto;
  align-items: center;
  margin-bottom: 40px;
}
.get_say_info_sec > li a {
  width: 100%;
  display: block;
  padding: 15px 25px;
  color: #fff;
  font-size: 16px;
  text-decoration: unset;
  font-weight: 500;
  background: var(--blue);
  border-radius: 5px 0 0 5px;
  transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -ms-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.get_say_info_sec > li a:hover {
  background-color: var(--orange);
}

@media only screen and (max-width: 1100px){
  .get_say_form {
    display:none;
}
.grid-70-30 {
  display: grid;
  grid-template-columns: 100% 100%;
}
}

.ff-3-3 input {
  width: 100%;
  height: 150px;
  margin-top: 4%;
  background-color: rgb(200, 203, 204);
  border: 1px solid rgb(200, 203, 204);
  text-align: start;

}

.fff-3 input {

  width: 40%;
  height: 40px;

  background-color: rgb(200, 203, 204);
  border: 1px solid rgb(200, 203, 204);
  /* font-size: larger; */


}


/* portfolio css start here */


.portfolio-main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(var(--blue)
  , rgb(192, 190, 190)
  45%, #fff 45%, #fff 100%);
}
.card {
position: relative;
width: 300px;
height: 400px;
background: #fff;
border-radius: 10px;
background: rgba(255, 255, 255, 0.1);
border-top: 1px solid rgba(255, 255, 255, 0.5);
backdrop-filter: blur(15px);
box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.img-bx {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border-radius: 10px;
overflow: hidden;
transform: translateY(30px) scale(0.5);
transform-origin: top;
}

.img-bx img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}

.content {
position: absolute;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: flex-end;
padding-bottom: 30px;
}

.content .detail {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
}

.content .detail h2 {
color: #444;
font-size: 1.6em;
font-weight: bolder;
}

.content .detail h2 span {
font-size: 0.7em;
color: #03a9f4;
font-weight: bold;
}

.sci {
position: relative;
display: flex;
margin-top: 5px;
}

.sci li {
list-style: none;
margin: 4px;
}

.sci li a {
width: 45px;
height: 45px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
background: transparent;
font-size: 1.5em;
color: #444;
text-decoration: none;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
transition: 0.5s;
}

.sci li a:hover {
background: #03a9f4;
color: #fff;
}

